*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* home menu */
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #ffff;
    position: relative;
}

/* nav bar */
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 2%;
    justify-content: space-between;
}

.logo{
    width: 85px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 14px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

/* warna klik */
nav ul li a:hover{
    color: orange;
}

.aboutme{
    margin-left: 7%;
    margin-top: 12%;
}

.aboutme h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

/* Warna Font Highlight */
span{
    color: #6d3181;
    
}

.aboutme p{
    color: #555;
    line-height: 22px;
}

.aboutme a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

/* posisi foto */
.images img{
    height: 100%;
    position: absolute;
    left: 60%;
    bottom: 0;
    transform: translateX(-45%);
    transition: bottom 1s, left 1s;
}

/* animasi shape */
.images:hover .shape{
    bottom: 25px;
}

/* animasi foto */
.images:hover .ai{
    left: 62%;
}

.social{
    margin-left: 8%;
    margin-top: 100px;
}

.social a{
    font-size: 30px;
    color: #212121;
    margin-right: 20px;
}

.social a:hover{
    color: orange;
}

/* education menu */
.education{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #ffff;
    position: relative;
}

.history{
    margin-left: 8%;
    margin-top: 10px;
}

.history h1{
    font-size: 35px;
    color: #212121;
    margin-bottom: 20px;
}

.history li {
    margin-left: 5%;
    list-style-type: square;
  }

.history li p {
    padding: 10px;
    margin: 10px;
}

.history li p span {
    font-weight: 1000;
}

.history p{
    color: #4d4d4d;
    line-height: 22px;
}

.history a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

/* schedule menu */
.schedule{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #ffff;
    position: relative;
}

.timetable{
    margin-left: 6%;
    margin-top: 10px;
}

.timetable h1{
    font-size: 35px;
    color: #212121;
    margin-bottom: 20px;
    
}
.timetable h2{
    font-size: 20px;
    font-weight: 1000;
    color: #6d3181;
    margin-bottom: 15px;
    text-align: center;
}
/* table schedule */
div table {
    padding-bottom: 0px;
  }
  div table tr th {
    text-align: center;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
  }
  div table tr td {
    padding-left: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 5px;
    text-align: left;
  }

/* activities menu */
.activities{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #ffff;
    position: relative;
}

.historyact{
    margin-left: 8%;
    margin-top: 10px;
}

.historyact h1{
    font-size: 35px;
    color: #212121;
    margin-bottom: 20px;
}

.historyact h2{
    margin-top: 20px;
    font-size: 20px;
    color: #212121;
    margin-bottom: 15px;
}

.historyact li {
    margin-left: 5%;
    list-style-type: square;
  }

.historyact li p {
    padding: 10px;
    margin: 10px;
}

.historyact li p span {
    font-weight: 1000;
}

.historyact p{
    color: #4d4d4d;
    line-height: 22px;
}

.historyact a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

/* about menu */
.about{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #ffff;
    position: relative;
}

.biodata{
    margin-left: 8%;
    margin-top: 10px;
}

.biodata h1{
    font-size: 35px;
    color: #212121;
    margin-bottom: 20px;
}

.biodata h2{
    margin-top: 20px;
    font-size: 20px;
    color: #212121;
    margin-bottom: 15px;
}

.biodata h3{
    margin-top: 35px;
    font-size: 20px;
    color: #212121;
    margin-bottom: 15px;
}

.biodata li {
    margin-left: 5%;
    list-style-type: none;
  }

.biodata li p {
    padding: 5spx;
    margin: 5px;
}

.biodata li p span {
    font-weight: 1000;
}

.biodata p{
    color: #1b1b1b;
    line-height: 30px;
}

.social2 {
    margin-left: 1%;
    margin-top: 0px;

}

.social2 a{
    font-size: 30px;
    color: #212121;
    margin-right: 5px;
}
.social2 p{
    font-size: 15px;
    color: #212121;
    margin-right: 5px;
}

.social2 a:hover{
    color: orange;
}

